
<h1>Alterar usuário</h1>

<div>
    <div class="form-group">
        <label for="txtNome">Nome:</label>
        <input value="<%= usuario.usuarioNome %>" type="text" class="form-control" id="txtNome" />
    </div>
    <div class="form-group">
        <label for="txtEmail">E-mail:</label>
        <input value="<%= usuario.usuarioEmail %>" type="email" class="form-control" id="txtEmail" />
    </div>
    <div class="form-group">
        <label for="txtSenha">Senha:</label>
        <input value="<%= usuario.usuarioSenha %>" type="password" id="txtSenha" class="form-control" />
    </div>

    <div class="form-group">
        <label for="selPerfil">Perfil:</label>
        <select class="form-control" id="selPerfil">
            <option value="0">-- Selecione --</option>
            <% for(let i = 0; i < lista.length; i++) { %>
                <% if(usuario.perfilId == lista[i].perfilId) { %>
                    <option selected="true" value="<%= lista[i].perfilId %>" ><%= lista[i].perfilDescricao %></option>
                <% } else { %>
                    <option value="<%= lista[i].perfilId %>" ><%= lista[i].perfilDescricao %></option>
                <% } %>
                
            <% } %>
        </select>
    </div>

    <div class="form-group">
        <label for="cbAtivo">
            <% if(usuario.usuarioAtivo == 1) { %>
                <input checked="true" type="checkbox" id="cbAtivo" /> Ativo
            <% } else { %>
                <input  type="checkbox" id="cbAtivo" /> Ativo
            <% } %>
            
        </label>
    </div>

    <div>
        <button class="btn btn-primary" id="btnGravar">Alterar</button>
        <a href="/usuario" class="btn btn-default">Voltar</a>
    </div>
</div>